@font-face {
  font-family: 'AmericanCaptain';
  src: url("/fonts/American%20Captain.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  background-color: #333;
}
.container-fluid {
  width: 80%;
  margin: 7% auto;
  background-color: #fff;
}
.header {
  padding: 25px 30px 25px 30px;
  min-height: 300px;
  background-image: url("../img/East_Village_Second_Avenue.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: AmericanCaptain;
  color: #fff;
}
.header h1 {
  letter-spacing: 2px;
  font-size: 48px;
}
.header h3 {
  letter-spacing: 3px;
  text-align: right;
  margin-top: 90px;
}
.header h4 {
  letter-spacing: 2px;
  text-align: right;
}
a.email {
  color: #fff;
}
a.email:hover {
  text-decoration: underline;
}
.main {
  padding: 20px;
}
.main div[class*='col-sm-'] {
  padding-left: 5px;
  padding-right: 5px;
}
.main .filters {
  margin-bottom: 20px;
}
.main .filters button {
  padding: 2px 8px;
}
.main .title {
  margin-bottom: 10px;
}
.main h2 {
  font-size: 20px;
  margin-top: 0;
  line-height: 35px;
  margin-bottom: 10px;
  font-style: italic;
}
.main h4 {
  font-size: 16px;
}
.main .bar {
  padding: 5px;
}
.main .bar:nth-child(even) {
  background-color: #eee;
}
.rail {
  padding: 20px;
}
.rail h2 {
  font-size: 20px;
  margin-top: 0;
  line-height: 35px;
  margin-bottom: 10px;
}
ul.blogs {
  list-style: none;
  padding-left: 5px;
}
ul.blogs li:nth-child(even) {
  background-color: #eee;
}
