<!DOCTYPE html>
<html ng-app="eastVillageEverything" lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>East Village Everything</title>

    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <link href='css/main.css' rel='stylesheet'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'></script>
      <script src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'></script>
    <![endif]-->
  </head>
  <body>

    <div class='container-fluid'>
      <div class='row'>
        <div class='header col-sm-12'>
          <h1>East Village Everything</h1>
          <h3>
            Nicholas Vanderborgh<br/>
            <a class='email' href='mailto:newyorkolas@gmail.com'>newyorkolas@gmail.com</a>
          </h3>
          <h4>Real Estate Broker</h4>
        </div>
      </div>
      <div class='row' ng-controller="placesController">
        <div class='main col-sm-9'>
          <div class='row'>
            <div class='col-sm-12'>
              <h2>An insider's guide to east village happy hours and nightly specials.</h2>
            </div>
          </div>

          <div class='row filters' ng-controller="tagsController" >
            <div class="col-sm-12 form-group">
              <label for="tags">Looking for something in particular?</label>


              <select name="tags" class="filter form-control">
                <option value="none">Anything</option>
                <option ng-repeat="tag in tags" value="{{tag.value}}">{{tag.display}}</option>
              </select>
            </div>
          </div>

          <div class='row title'>
            <div class='col-sm-3'>
              <b>PLACE</b>
            </div>
            <div class='col-sm-5'>
              <b>HAPPY HOUR / SPECIALS</b>
            </div>
            <div class='col-sm-4'>
              <b>NOTES</b><br/>
            </div>
          </div>

          <div ng-repeat="place in places" class="row bar {{place.tags}}" >
            <div class='col-sm-3'>
              <a target='_blank' href='{{place.url}}'><b ng-bind-html="place.name">{{place.name}}</b></a><br/>
              {{place.address}}<br/>
              <a href='tel:{{place.phone}}'>{{place.displayPhone}}</a>
            </div>
            <div ng-bind-html="place.specials" class='col-sm-5'>
              {{place.specials}}
            </div>
            <div class='col-sm-4'>
              <div class="categories">{{place.categories}}</div>
              <div ng-bind-html="place.notes" class="notes">{{place.notes}}</div>
            </div>
          </div>
        </div>
        <div class='rail col-sm-3'>
          <div class='row'>
            <div class='col-sm-12'>
              <img src='img/head-shot.png'/>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-12'>
              <h2>Favorite Blogs</h2>
              <ul class='blogs'>
                <li>
                  <a class='blog' target='_blank' href='http://evgrieve.com/'>EV GRIEVE</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src='js/jquery.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
    <script src='js/underscore.min.js'></script>
    <script src='js/angular.min.js'></script>
    <script src='js/angular-sanitize.min.js'></script>
    <script src='js/app.js'></script>
    <script src='js/phoneformat.js'></script>

    <script type='text/javascript'>
      $('.filter').on('change', function () {
        document.body.style.cursor = 'wait';
        if ($(this).val() === 'none') {
          $.each($('div.bar'), function (i, ele) {
            $(ele).slideDown()
          })
        } else {
          $.each($('div.bar').filter('.' + $(this).val()), function (i, ele) {
            $(ele).slideDown()
          })

          $.each($('div.bar').not('.' + $(this).val()), function (i, ele) {
            $(ele).slideUp()
          })
        }
        setTimeout(function () {
          document.body.style.cursor = 'auto';
        }, 100)
      })
    </script>
  </body>
</html>
